<h1>Welcome to Source Monkey</h1>
<%= link_to "back",facts_path %>
<h2>Truth with a spine</h2>
<p>Need a source to an alleged fact, post it here and let people show you references to back it up, or if there are none and your friend is talking nonsence</p>